td {
  height: 150px;
  width: 150px;
  text-align: center;
  padding: 50;
  border: 1px solid cyan;
  color: white;
  font-size: 100px;
}
#restart-button:hover {
  color: #343a40 !important;
  background-color: cyan;
}
#restart-button:focus {
  outline: none !important;
}
